@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Inline+Display:wght@600&display=swap');

body{
  background-image: url(./image/todo.png);
  background-repeat: no-repeat;
  background-position:5% 10%;
  background-color: rgb(205, 240, 228);
  background-attachment: fixed;
  
  
}


.App {
  max-width: 50em;
  padding: 32px;
  margin-left: 35rem;
  margin-top: 200px;
}

.todo {
  margin: 32px 0px;
  display: flex;
  align-items: center;
  font-size: 24px;
}


.todo-input {
  font-size: 24px;
  border-radius: 2px;
  width: 50%;
  padding: 15px 15px;
  border:none;
  margin-left: 70px;
  font-family: 'Big Shoulders Inline Display', cursive;
  
}

.todo-input:focus{
  outline: none;
}

.todo {
  margin: 20px 20px;
  display: flex;
  align-items: center;
  font-size: 24px;
  color:rgb(201, 146, 253);
  font-family: 'Big Shoulders Inline Display', cursive;

}

.checkbox {
  width: 26px;
  height: 26px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 12px;
  justify-content: right;
  align-items: right;
  
 
}




.button {
  padding: 17px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3f7b9e4b;
  border: none;
  box-shadow: 0 9px rgb(165, 153, 173);
  border-radius: 2px;
}

.button:hover {background-color: #8b75a0}

.button:active {
  background-color: #abcaab;
  box-shadow: 0 5px rgb(125, 117, 129);
  transform: translateY(4px);


}

.delete {
  margin-left: auto;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 80px;

}

.delete:hover {
  opacity: 0.8;
}